/**
 * @file
 * Import site styles and create overrides for the wysiwyg.
 */

@import url("styles.css");

body {
  padding: 20px;

  > *:first-child {
    margin-top: 0;
  }

  &[contentEditable=true]:focus {
    outline: 0;
  }
}

drupal-media:not([data-align]),
drupal-entity:not([data-align]),
drupal-entity[data-entity-type="block_content"],
drupal-entity[data-embed-button="video"] {
  display: block;
}
