/**
* @file
* Pager styles.
*/

%pager__item {
  display: inline;
  padding: 0 0.5rem;
  list-style-type: none;
  background-image: none;
}

.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager__item, // A list item containing a page number in the list of pages.
.pager__item--first, // The first page's list item.
.pager__item--previous, // The previous page's list item.
.pager__item--next, // The next page's list item.
.pager__item--last, // The last page's list item.
.pager__item--ellipsis { // A concatenation of several list items using an ellipsis.
  @extend %pager__item;

  &.is-active {
    font-weight: bold;
  }
}
