/**
 * @file
 * Variables.
 */

// Breakpoints.
$mobile: max-width 500px;
$tablet: min-width 760px;
$all-devices: max-width 1023px;
$desktop: min-width 1024px;
$lg-desktop: min-width 1440px;

// Colors.
$black: #000;
$owhite: #f7f7f7;
$white: #fff;

// Font-face.

// Font-families.
$serif: Georgia, "Times New Roman", serif;
$sans: Arial, sans-serif;
$mono: "Courier New", monospace, sans-serif;

// Border style.
$border: 1px solid $black;
