/**
* @file
* Form element styles.
*/

// Global form styles
form {
  margin-top: 2rem;
  margin-bottom: 2rem;

  > * {
    @extend %trim;
  }
}

.form-item,
.form-actions {
  margin: 2rem 0;
}

// Global label styles.
label {
  margin-bottom: 0.5rem;
}

// Global input styles.
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
  padding: 1.25rem 1.5rem;
  border: $border;
  background-color: $white;
  @include placeholder {
    color: rgba($black, 0.5);
  }
}

input[type="checkbox"],
input[type="radio"] {
  @extend %element-invisible;

  + label {
    position: relative;
    display: flex;
    font-weight: normal;
    cursor: pointer;

    &:before {
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      margin-top: 0.1rem;
      margin-right: 0.8rem;
      overflow: hidden;
      border: $border;
      content: '';
      background-color: $white;
    }
  }

  &:checked + label {
    &:before {
      background-color: $black;
    }
  }
}

input[type="radio"] + label:before {
  border-radius: 50%;
}

// Global select box styles.
select {
  position: relative;
  z-index: 2;
  display: block;
  padding: 1.25rem 1.5rem;
  -moz-padding-end: 10px;
  border: $border;
  border-radius: 0;
  background-color: $white;
  line-height: 1;
  appearance: none;
  cursor: pointer;

  &::ms-expand {
    display: none;
  }
}

// Global button styles.
input[type="submit"],
input[type="button"],
input[type="reset"] {
  @extend %button;
}

fieldset {
  border: $border;
  padding: 2rem;
}

legend {
  @extend label;
}
