/**
* @file
* heading element styles.
*/

h1,
%heading1 {
  @include serif();
  font-size: 5rem;
  line-height: 1.2;
}

h2,
%heading2 {
  @include serif();
  font-size: 2.8rem;
  line-height: 1.25;
}

h3,
%heading3 {
  @include serif();
  font-size: 2.4rem;
  line-height: 1.25;
}

h4,
%heading4 {
  @include serif();
  font-size: 2.2rem;
  line-height: 1.25;
}

h5,
%heading5 {
  @include serif();
  font-size: 2rem;
  line-height: 1.25;
}
