/**
* @file
* Media element styles.
*/

// Flexible video container.
.video-player,
%video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    @extend %fill;
  }
}

video {
  width: 100%;
  height: auto;
}

.field--name-field-media-oembed-video {
  @extend %video;
}

// alignment options.
%alignment {
  &.align-left {
    float: left;
    margin: 0 3rem 3rem 0;
  }
  &.align-right {
    float: right;
    margin: 0 0 3rem 3rem;
  }
  &.align-center {
    @extend %trim;
    margin: 4rem auto;
  }
}

// Figure alignment formatting.
figure {
  @extend %alignment;
}

// Wysiwyg image formatting.
.media--type-image {
  .text-formatted & {
    @extend %alignment;

    @include breakpoint($desktop) {
      &.media--view-mode-sm {
        width: 50%;
      }
      &.media--view-mode-md {
        width: 66%;
      }
    }

    &.media--view-mode-xl {
      @extend %trim;
      margin: 4rem calc(50% - 50vw);

      .content__no-sidebar & {
        margin: 4rem calc(50% - 50vw);

        .media__content {
          @extend %container;
        }
      }

      .content__one-sidebar & {
        @include breakpoint($all-devices) {
          margin: 4rem calc(50% - 50vw);

          .media__content {
            @include container();
          }
        }

        @include breakpoint($desktop) {
          margin: 4rem -38rem 4rem 0;
        }
      }

      img {
        display: block;
        margin: auto;
      }
    }
  }
}

// Wysiwyg video formatting.
.media--type-remote-video {
  .text-formatted & {
    margin: 4rem 0;
  }
}
