/**
* @file
* Table styles.
*/

table {
  width: 100%;
  display: block;
  overflow: auto;

  tr {
    &:nth-child(even) {
      background-color: rgba($black, 0.5);
    }
  }

  td,
  th {
    padding: 1.5rem 2rem;
    text-align: left;
    min-width: 18rem;
    @include trim();
  }

  thead th,
  tbody th,
  tfoot th {
    background-color: $black;
    color: $white;
    font-weight: bold;
  }

  th:empty {
    visibility: hidden;
  }
}
