/**
* @file
* Typographic styles.
*/

// Set global styles for the document.
body {
  font-size: 1.6rem;
  line-height: 1.75;
  color: $black;
  font-family: $sans;
}

.container {
  @extend %container;
  max-width: 67rem;
}

.large,
%large {
  font-size: 2.2rem;
  line-height: 1.4;
}

small,
.small,
%small {
  font-size: 1.3rem;
  line-height: 1.5;
}

.description {
  @extend %small;
}

// Define a blockquote style.
blockquote {
  font-size: 3.3rem;
  line-height: 1.27;

  p {
    position: relative;
    margin: 0.5em 0;
  }
}

q,
cite {
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  display: block;
}

mark {
  background-color: $owhite;
}

figcaption,
caption {
  @extend %small;
  margin: 1rem 0;
}

.text-align-center,
.rtecenter {
  text-align: center;
}
