/**
* @file
* Typographic styles.
*/

// Define a border style.
$border: 1px solid $black;

// Set global styles for the document.
body {
  font-size: 1.6rem;
  line-height: 1.75;
  color: $black;
  font-family: $sans;
  @include breakpoint($all-devices) {
    &.noscroll {
      position: fixed;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }
}
.large,
%large {
  font-size: 2.2rem;
  line-height: 1.36;
}
.small,
small,
%small {
  font-size: 1.4rem;
  line-height: 1.43;
}

p {
  // Define an intro paragraph style.
  &.intro {
    @extend %large;
    @include serif();
  }
}

// Define a link style.
a {
  text-decoration: underline;
}

// Define a horizontal rule style.
hr {
  border: 0;
  border-bottom: $border;
}

// Define a blockquote style.
blockquote {
  @include serif();
  font-size: 3.3rem;
  line-height: 1.27;
  p {
    position: relative;
    margin: 0.5em 0;
  }
}

q,
cite {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: $sans;
  font-style: normal;
  display: block;
}

figcaption,
caption {
  @extend %small;
  margin: 1rem 0;
}
